<p style="color: green"><%= notice %></p>

<h1>Fees</h1>

<table>
  <tr>
    <th>Roll_No</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <th>Amount</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <th>Status</th>
    <th></th>
  </tr>
 
<% @fees.each do |fee| %>
  <tr>
    <td><%= fee.rollno %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= fee.amount %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= fee.status %></td>
  </tr>
<% end %>
</table>
 
<br />
 

<%= link_to "New fee", new_fee_path, :class => 'btn btn-primary'  %>
<%= link_to "Back to Dashboard", warden_dashboard_path, :class => 'btn btn-primary' %>
