<p style="color: green"><%= notice %></p>

<%= render @fee %>

<div>
  <%= link_to "Edit this fee", edit_fee_path(@fee) %> |
  <%= link_to "Back to fees", fees_path %>

  <%= button_to "Destroy this fee", @fee, method: :delete %>
</div>
